-# edit.html.haml using partial

%h1 Edit Run: #{@runninglog.title}

= form_tag runninglog_path(@runninglog), :method => :put do

  = label :runninglog, :title, "Title"
  = text_field :runninglog, :title
  \
  = label :runninglog, :text, "Text"
  = text_field :runninglog, :text
  \
  = label :runninglog, :miles, "Distance"
  = number_field :runninglog, :miles
  \
  = label :runninglog, :rundate, "Date of Run"
  = date_field :runninglog, :rundate

  = submit_tag 'Update Running Log'
