%h2 Details about #{@runninglog.title}

%h3 Distance:
%p#distance= @runninglog.miles

%h3 Run Date:
%p#rundate= @runninglog.rundate.strftime("%B %d, %Y")

%h3 Description:
%p#description= @runninglog.text
%br

= link_to "Back", runninglogs_path 
= link_to 'Edit', edit_runninglog_path(@runninglog)
= link_to 'Delete', runninglog_path(@runninglog), :method => :delete