// Weekly Goals dashboard index.haml

%html{lang: "en"}
    %head
        = stylesheet_link_tag 'application'
        
    %body 
        %h2 Welcome #{@current_user.name}! 
        %p Your weekly goal is #{@goal.goal} miles.
        
        = link_to "Edit Weekly Goal", edit_goal_path(@goal)
        = link_to "Log Out", logout_path, :method  => :post

   